/*==========
----- CSS INDEX -----
1.Fonts CSS
2.Common CSS
3.Loader CSS
4.Header CSS
5.Banner CSS
6.Services CSS
7.About Us CSS
8.Counter CSS
9.Testimonial CSS
10.Pricing Plan CSS
11.Portfolio CSS
12.Team Members CSS
14.Contact Us CSS
15.Partners CSS
16.Footer CSS
17.Scroll To Top CSS
18.Bubbles Animation CSS
19.About Us Page CSS
20.Services Page CSS
21.Pricing Page CSS
26.Contact Page CSS
29.Responsive CSS
==========*/

/*==========Fonts CSS Start==========*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*==========Fonts CSS End==========*/

/*==========Common CSS Start==========*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden !important;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
}

.main {
    width: 100%;
    overflow-x: hidden !important;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

input,
input:focus,
input:hover,
button,
button:hover,
button:focus {
    outline: none;
}

img {
    width: auto;
    max-width: 100%;
}

p {
    font-size: 15px;
    line-height: 24px;
    color: #777777;
    font-weight: normal;
    margin-bottom: 12px;
}

.h1-title {
    font-size: 70px;
    line-height: 80px;
    color: #010f2e;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    margin-bottom: 17px;
}

.sub-title {
    display: block;
    font-size: 22px;
    line-height: 25px;
    color: #ff5066;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 12px;
}

.h2-title {
    font-size: 65px;
    line-height: 75px;
    font-weight: bold;
    color: #010f2e;
    font-family: 'Jost', sans-serif;
    margin-bottom: 28px;
    position: relative;
}

.h3-title {
    font-size: 25px;
    line-height: 35px;
    color: #010f2e;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    margin-bottom: 10px;
}

.h4-title {
    font-size: 40px;
    line-height: 50px;
    color: #010f2e;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    margin-bottom: 0;
}

.sec-btn {
    height: 60px;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 32px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    border-radius: 40px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    transition: 0.5s;
}

.sec-btn:hover {
    color: #ffffff;
    box-shadow: 0px 10px 30px 0px rgb(93, 190, 150, 0.3);
}

.sec-btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: 105%;
    height: 105%;
    background: linear-gradient(to left, #ff5066, #fc9d44);
    border-radius: 40px;
    transition: 0.5s;
    z-index: 0;
}

.sec-btn:hover:before {
    left: 0;
}

.sec-btn span {
    position: relative;
    z-index: 1;
}

.sec-btn span i {
    margin-left: 10px;
}

.slick-list {
    padding: 0 !important;
}

.slick-slide {
    outline: none;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before,
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    display: none;
}

.slick-dots {
    bottom: -50px;
    font-size: 0;
    line-height: 1;
}

.slick-dots li {
    width: auto;
    height: auto;
    margin: 0 6px;
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    background: #cccccc;
    border-radius: 50%;
    transition: 0.3s;
}

.slick-dots li button:hover,
.slick-dots li.slick-active button {
    background: #ff5066;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    left: -85px;
    width: 60px;
    height: 60px;
    background: transparent;
    padding: 0;
    border-radius: 60%;
    color: #fd8e66;
    font-size: 35px;
    border: solid 1px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at bottom, #fead24, #fd8e67);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: 0.3s;
    z-index: 1;
}

.slick-arrow.next-arrow {
    left: auto;
    right: -85px;
}

.slick-arrow:hover {
    color: #ffffff;
    background-image: unset;
    box-shadow: 2px 2px 30px rgba(253, 142, 102, 0.2);
}

.slick-arrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fead24, #fd8e67);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
}

.slick-arrow:hover:before {
    opacity: 1;
}

.slick-arrow i {
    position: relative;
    z-index: 1;
}

.black-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.75;
    z-index: 90;
    display: none;
}

.back-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-box {
    display: block;
    position: relative;
    font-size: 0;
    line-height: 1;
    margin-bottom: 20px;
}

.form-box.submit-btn {
    margin-top: 10px;
}

.form-input {
    width: 100%;
    height: 60px;
    background: #ffffff;
    font-size: 15px;
    line-height: 24px;
    color: #777777;
    border: none;
    outline: none;
    padding: 12px 30px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    box-shadow: none;
}

textarea.form-input {
    height: 106px;
    resize: none;
    padding: 18px 30px;
    margin-bottom: 0;
}

.form-input::placeholder {
    color: #5f656a;
}

.form-box label {
    padding-left: 25px;
    position: relative;
    margin-bottom: 0;
    color: #25303f;
}

.form-checkbox {
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0;
    z-index: 2;
}

.form-box label span:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #804cf9;
    z-index: 0;
}

.form-box label span:after {
    content: "\f00c";
    position: absolute;
    top: 0px;
    left: 1px;
    font-family: 'FontAwesome';
    color: #804cf9;
    font-size: 13px;
    opacity: 0;
    z-index: 1;
}

.form-box label input:checked+span:after {
    opacity: 1;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

.form-element {
    position: relative;
}

.form-element i {
    position: absolute;
    top: 15px;
    right: 25px;
    pointer-events: none;
    font-size: 20px;
    color: #5f656a;
}

select.form-input {
    padding-right: 40px !important;
}

.for-des {
    display: inline-block !important;
}

.for-mob {
    display: none !important;
}

.toggle-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    text-align: center;
    border: none;
    outline: none;
    display: none;
    z-index: 110;
}

.toggle-button span {
    width: 30px;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 0 auto 6px auto;
    position: relative;
    top: 0;
    opacity: 1;
    transition: 0.3s;
}

.toggle-button span:last-child {
    margin-bottom: 0;
}

.toggle-menu .toggle-button {
    background: transparent;
}

.toggle-menu .toggle-button span {
    background: linear-gradient(to right, #ff5066, #fc9d44);
}

.toggle-menu .toggle-button span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 9px;
}

.toggle-menu .toggle-button span:nth-child(2) {
    opacity: 0;
}

.toggle-menu .toggle-button span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -9px;
}

section {
    position: relative;
}

.center-title {
    text-align: center;
    margin-bottom: 37px;
}

.main-banner.inner-banner {
    position: relative;
    /* padding: 264px 0 142px 0; */
    padding: 150px 0 50px 0;
}

.main-banner.inner-banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    opacity: 0.8;
    z-index: 0;
}

.main-banner.inner-banner .container {
    position: relative;
    z-index: 1;
}

.main-banner.inner-banner .banner-content {
    text-align: center;
    padding: 0;
}

.main-banner.inner-banner .banner-content .h1-title {
    color: #ffffff;
    margin-bottom: 25px;
}

.breadcrumb-box {
    text-align: center;
}

.breadcrumb-box ul {
    font-size: 0;
    line-height: 1;
    list-style: none;
}

.breadcrumb-box ul li {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    display: inline-block;
    padding-left: 24px;
    margin-left: 14px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.breadcrumb-box ul li:first-child {
    padding-left: 0;
    margin-left: 0;
}

.breadcrumb-box ul li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}

.breadcrumb-box ul li:first-child:before {
    display: none;
}

.breadcrumb-box ul li a {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

.breadcrumb-box ul li a:hover {
    color: #010f2e;
}

/*==========Common CSS End==========*/

/*==========Loader CSS Start==========*/

.loader-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f8fcfc;
    z-index: 999;
}

.loader-design {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gegga {
    width: 0;
}

.loader-design svg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.snurra {
    filter: url(#gegga);
}

.stopp1 {
    stop-color: #ff5066;
}

.stopp2 {
    stop-color: #fc9d44;
}

.halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}

.skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
}

@keyframes Snurra1 {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -403px;
    }
}

/*==========Loader CSS End==========*/

/*==========Header CSS Start==========*/

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    padding: 23px 0;
    transition: 0.3s;
    z-index: 100;
}

.home .site-header {
    /* padding: 30px 0;
    background: transparent; */
    padding: 20px 0;
    background: #fff;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-branding {
    display: inline-block;
}

.site-branding a {
    display: inline-block;
    width: 204px;
}

.header-menu {
    display: inline-block;
    text-align: center;
}

.main-navigation ul {
    font-size: 0;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation ul li {
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.main-navigation ul li:first-child {
    margin-left: 0;
}

.main-navigation ul li:last-child {
    margin-right: 0;
}

.main-navigation ul li a {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #010f2e;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    transition: 0.3s;
}

.main-navigation ul li a.sec-btn {
    color: #ffffff;
}

.main-navigation ul li.sub-items:hover>a,
.main-navigation ul li a:hover,
.main-navigation ul li.active>a {
    color: #ff5066;
}

.main-navigation ul li.sub-items>a {
    padding-right: 15px;
    position: relative;
}

.main-navigation ul li.sub-items>a:before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-family: 'FontAwesome';
    color: #010f2e;
    font-size: 16px;
    transition: 0.3s;
}

.main-navigation ul li.sub-items:hover>a:before,
.main-navigation ul li a:hover:before,
.main-navigation ul li.active>a:before {
    color: #ff5066;
}

.main-navigation ul li.sub-items:hover>a:before,
.main-navigation ul li a:hover:before {
    transform: translate(0, -50%) rotate(-180deg);
}

.main-navigation ul li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: -15px;
    width: 200px;
    height: auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
    display: none;
    transition: 0.3s;
    z-index: 150;
}

.main-navigation ul li:hover ul.sub-menu {
    display: block;
    animation: swip_up 0.3s linear 1;
}

@keyframes swip_up {
    from {
        transform: translate(0, 20px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.main-navigation ul li ul.sub-menu li {
    display: block;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
}

.main-navigation ul li ul.sub-menu li:last-child {
    border-bottom: none;
}

.main-navigation ul li ul.sub-menu li a {
    display: block;
    padding: 5px 15px;
}

.header-search {
    display: inline-block;
    text-align: right;
    font-size: 0;
    line-height: 1;
}

.header-search .sec-btn {
    display: inline-block;
    vertical-align: middle;
}

.search-box {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 24px;
}

.search-icon a {
    display: inline-block;
    font-size: 20px;
    color: #777777;
    transition: 0.3s;
}

.search-icon a:hover {
    color: #ff5066;
}

.search-input {
    position: relative;
    margin: 30px 0;
}

.search-input .form-input {
    height: 60px;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.search-input .sec-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    border-radius: 4px;
    margin: 0 !important;
}

.search-input .sec-btn:before {
    border-radius: 4px;
}

.search-input .sec-btn span i {
    margin: 0;
}

.extra-menu {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

.extra-menu-icon a {
    /* width: 60px;
    height: 60px; */
    background: linear-gradient(to right, #ff5066, #fc9d44, #fc9d44, #ff5066);
    background-size: 400% 100%;
    background-position: left center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 2px 2px 30px rgba(255, 80, 102, 0.25);
    transition: 0.3s;
}

.extra-menu-icon a:hover {
    background-position: right center;
}

.extra-menu-icon a img {
    width: auto;
}

.extra-menu-info {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: #ffffff;
    padding: 40px;
    text-align: left;
    overflow: auto;
    opacity: 0;
    z-index: 150;
    transition: 0.5s;
}

.extra-menu-info.active {
    right: 0;
    opacity: 1;
    transition: 0.3s;
}

.extra-menu-info::-webkit-scrollbar-thumb {
    width: 3px;
    background: #ff5066;
}

.extra-menu-info::-webkit-scrollbar {
    width: 3px;
}

.extra-menu-info::-webkit-scrollbar-track {
    width: 3px;
    background: #dddddd;
}

.close-extra-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
}

.close-extra-menu:before,
.close-extra-menu:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 30px;
    height: 3px;
    background: #010f2e;
    transition: 0.3s;
}

.close-extra-menu:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-extra-menu:hover:before,
.close-extra-menu:hover:after {
    background: #ff5066;
}

.extra-info-text {
    margin-bottom: 30px;
}

.extra-info-text:last-child {
    margin-bottom: 0;
}

.extra-info-logo {
    margin-bottom: 20px;
}

.extra-info-logo img {
    width: 180px;
}

.extra-info-text ul {
    padding-left: 0;
    list-style: none;
}

.extra-info-text ul li {
    font-size: 15px;
    line-height: 25px;
    padding-left: 20px;
    position: relative;
}

.extra-info-text ul li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #ff5066;
    border-radius: 50%;
}

.extra-info-text .footer-contact-link a {
    color: #777777;
}

/*Sticky Header*/

.site-header.sticky-header,
.home .site-header.sticky-header {
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    transition: 0.3s;
}

/*==========Header CSS End==========*/

/*==========Banner CSS Start==========*/

.main-banner {
    position: relative;
    padding-bottom: 60px;
}

.slick-slide {
    position: relative;
}

.main-banner .slick-dots {
    bottom: 80px;
}

.main-banner .banner-img {
    width: 100%;
    height: 100vh;
}

.main-banner .banner-slider-content {
    position: absolute;
    z-index: 999;
    top: 20%;
    right: 20%;
    width: 30%;
    margin: 0 auto;
}

.main-banner .banner-slider-content .banner-content-headings {
    color: #FFF;
}

.banner-mail-box {
    position: relative;
    margin-bottom: 36px;
}

.banner-mail-box input {
    width: 100%;
    height: 70px;
    background: #ffffff;
    padding: 20px 190px 20px 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
}

.banner-mail-box .sec-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.banner-call a {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    color: #a9aebe;
    font-weight: 500;
    padding-left: 60px;
    position: relative;
}

.banner-call a .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 46px;
}

.banner-call a .icon img {
    width: 100%;
}

.banner-call a span {
    display: block;
    font-size: 25px;
    line-height: 25px;
    /* color: #010f2e; */
    color: #fff;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    transition: 0.3s;
}

.banner-call a:hover span {
    color: #ff5066;
}

/*==========Banner CSS End==========*/

/*==========Services CSS Start==========*/

.main-services {
    position: relative;
}

.services-list {
    margin-bottom: -30px;
}

.service-box {
    position: relative;
    top: 0;
    padding: 35px 25px 31px 25px;
    text-align: center;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.service-box:hover {
    position: relative;
    top: -10px;
    box-shadow: 1px 10px 60px rgba(0, 0, 0, 0.1);
}

.service-img {
    margin-bottom: 23px;
}

.service-img img {
    display: inline-block;
    width: auto;
    height: 70px;
}

.service-box:hover .service-img img {
    animation: flip_rotate 1s linear infinite alternate;
}

@keyframes flip_rotate {
    from {
        transform: translate(0, -10px);
    }

    to {
        transform: translate(0, 10px);
    }
}

.service-box-text p {
    margin-bottom: 0;
}

.main-services.page-about-services {
    padding-top: 115px;
}

.main-services.page-about-services .service-box {
    padding: 15px 20px 15px 20px;
}

.main-services.page-about-services .service-box-text {
    display: flex;
    align-items: center;
}

.main-services.page-about-services .service-img {
    margin-bottom: 0px;
}

.main-services.page-about-services .h3-title {
    margin: 0 0 0 15px;
    font-size: 16px;
    line-height: 26px;
}

/*==========Services CSS End==========*/

/*==========Features CSS Start==========*/

.main-features {
    position: relative;
    padding-top: 115px;
}

.features-content p {
    margin-bottom: 17px;
}

.features-content ul {
    font-size: 0;
    line-height: 1;
    list-style: none;
    margin-bottom: 33px;
}

.features-content ul li {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #010f2e;
    padding-left: 50px;
    margin-bottom: 17px;
}

.features-content ul li:last-child {
    margin-bottom: 0;
}

.features-content ul li .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 35px;
    height: 35px;
    background: linear-gradient(to right, #705fed, #c6beff);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
}

.features-content ul li:nth-child(1) .icon {
    background: linear-gradient(to right, #705fed, #c6beff);
}

.features-content ul li:nth-child(2) .icon {
    background: linear-gradient(to right, #f57b00, #ffb66c);
}

.features-content ul li:nth-child(3) .icon {
    background: linear-gradient(to right, #31ca7b, #83ffbf);
}

.features-box {
    width: 100%;
    background: #ffffff;
    position: relative;
    padding: 35px 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin-bottom: 30px;
}

.features-box.idea-research-service,
.features-box.seo-service {
    margin-bottom: 0;
}

.features-box-text {
    position: relative;
    z-index: 1;
}

.features-icon {
    width: 50px;
    height: 50px;
    background: #f5ecfd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    transition: 0.3s;
}

.features-box:hover .features-icon {
    animation: bounceIn 1s linear infinite alternate;
    animation-duration: 2s;
}

.features-box.idea-research-service .features-icon {
    background: #dcfcef;
}

.features-box.seo-service .features-icon {
    background: #faf8e1;
}

/* .features-box.development-service .features-icon {
    background: #ffd2db;
}

.features-box.time-data-service .features-icon {
    background: #ffeddd;
}

.features-box.analysis-service .features-icon {
    background: #ccd7ff;
}

.features-box.penalty-service .features-icon {
    background: #ffcbdc;
}

.features-box.support-service .features-icon {
    background: #d2f7ff;
} */

.features-box-text .h3-title {
    transition: 0.5s;
    font-size: 14px;
    line-height: 18px;
}

/* .features-box-text p {
    margin-bottom: 0;
    transition: 0.3s;
} */

/*==========Features CSS End==========*/

/*==========About Us CSS Start==========*/

.main-about-us {
    position: relative;
    padding-top: 120px;
}

.main-about-img {
    position: relative;
    padding-top: 60px;
    padding-right: 60px;
}

.main-about-img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 170px;
    background: linear-gradient(to right, #ff5066, #fc9d44, #fc9d44, #ff5066);
    border-radius: 4px;
    z-index: 0;
    -webkit-animation: move2 3s infinite;
    animation: move2 3s infinite;
}

@keyframes move2 {
    0% {
        -webkit-transform: rotate(1deg) translate(2px, 2px);
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        -webkit-transform: rotate(-1deg) translate(-2px, -2px);
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        -webkit-transform: rotate(1deg) translate(2px, 2px);
        transform: rotate(1deg) translate(2px, 2px);
    }
}

.about-img-box {
    width: 680px;
    height: 515px;
    border-radius: 4px;
    overflow: hidden;
    float: right;
    position: relative;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.img_hover {
    position: relative;
    overflow: hidden;
}

.img_hover:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.img_hover:hover:before {
    -webkit-animation: img_hover 0.75s;
    animation: img_hover 0.75s;
}

@-webkit-keyframes img_hover {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes img_hover {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.about-content {
    font-size: 0;
    line-height: 1;
}

.about-content .h3-title {
    color: #ff5066;
}

.about-text {
    margin-bottom: 23px;
}

/*==========About Us CSS End==========*/

/*==========Support CSS Start==========*/

.main-support {
    padding: 80px 0;
}

/*==========Support CSS End==========*/

/*==========Counter CSS Start==========*/

.main-counter {
    position: relative;
    background: #f8fcfc;
    padding: 80px 0 50px;
}

.counter-box {
    position: relative;
    top: 0px;
    padding: 25px 5px 4px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.counter-box:hover {
    position: relative;
    top: -10px;
    box-shadow: 1px 10px 60px rgba(0, 0, 0, 0.1);
}

.counter-img {
    margin-bottom: 20px;
}

.counter-img img {
    width: 40px;
    height: 40px;
}

.counter-box p {
    margin-bottom: 17px;
}

/*==========Counter CSS End==========*/

/*==========Testimonial CSS Start==========*/

.main-testimonial {
    position: relative;
    padding-top: 115px;
}

.main-testimonial .container {
    position: relative;
    z-index: 1;
}

.testimonial-title {
    position: relative;
    text-align: center;
    margin-bottom: 37px;
}

.main-testimonial-box {
    position: relative;
    margin-top: 25px;
    padding-bottom: 50px;
}

.quote {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translate(-50%);
    width: 72px;
    display: inline-block;
    z-index: 1;
}

.main-testimonial-slider {
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 80px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 60px 40px 34px 40px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.testimonial-slider {
    position: relative;
    margin-bottom: 0 !important;
    z-index: 1;
}

.testimonial-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.review-by .h3-title {
    margin-bottom: 1px;
}

.review-by p {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #ff5066;
}

.testimonial-slider .slick-dots {
    bottom: -84px;
}

.testimonial-animate {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 1920px;
    height: 100%;
    z-index: 0;
}

.testimonial-img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial-img.testimonial-img1 {
    bottom: 212px;
    left: 90px;
    -webkit-animation: movedelement 5s linear infinite;
    animation: movedelement 5s linear infinite;
}

.testimonial-img.testimonial-img2 {
    bottom: 0;
    left: 57px;
    -webkit-animation: movedelement3 8s linear infinite;
    animation: movedelement3 8s linear infinite;
}

.testimonial-img.testimonial-img3 {
    bottom: 113px;
    left: 286px;
    -webkit-animation: movedelement2 10s linear infinite;
    animation: movedelement2 10s linear infinite;
}

.testimonial-img.testimonial-img4 {
    bottom: 213px;
    left: 571px;
    -webkit-animation: movedelement4 5s linear infinite;
    animation: movedelement4 5s linear infinite;
}

.testimonial-img.testimonial-img5 {
    bottom: 0;
    left: 485px;
    -webkit-animation: movedelement 7s linear infinite;
    animation: movedelement 7s linear infinite;
}

.testimonial-img.testimonial-img6 {
    bottom: 213px;
    right: 571px;
    -webkit-animation: movedelement3 6s linear infinite;
    animation: movedelement3 6s linear infinite;
}

.testimonial-img.testimonial-img7 {
    bottom: 0;
    right: 485px;
    -webkit-animation: movedelement2 8s linear infinite;
    animation: movedelement2 8s linear infinite;
}

.testimonial-img.testimonial-img8 {
    bottom: 113px;
    right: 286px;
    -webkit-animation: movedelement4 6s linear infinite;
    animation: movedelement4 6s linear infinite;
}

.testimonial-img.testimonial-img9 {
    bottom: 212px;
    right: 90px;
    -webkit-animation: movedelement 10s linear infinite;
    animation: movedelement 10s linear infinite;
}

.testimonial-img.testimonial-img10 {
    bottom: 0;
    right: 57px;
    -webkit-animation: movedelement2 5s linear infinite;
    animation: movedelement2 5s linear infinite;
}

@keyframes movedelement {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }

    50% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }

    75% {
        -webkit-transform: translate(10px, -5px);
        transform: translate(10px, -5px);
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes movedelement2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(-10px, -10px);
        transform: translate(-10px, -10px);
    }

    50% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }

    75% {
        -webkit-transform: translate(-10px, 5px);
        transform: translate(-10px, 5px);
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes movedelement3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }

    50% {
        -webkit-transform: translate(8px, 8px);
        transform: translate(8px, 8px);
    }

    75% {
        -webkit-transform: translate(15px, -8px);
        transform: translate(15px, -8px);
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes movedelement4 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(-15px, -15px);
        transform: translate(-15px, -15px);
    }

    50% {
        -webkit-transform: translate(-8px, -8px);
        transform: translate(-8px, -8px);
    }

    75% {
        -webkit-transform: translate(-15px, 8px);
        transform: translate(-15px, 8px);
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/*==========Testimonial CSS End==========*/

/*==========Pricing Plan CSS Start==========*/

.main-pricing {
    position: relative;
    padding-top: 115px;
}

.pricing-switch {
    text-align: center;
}

.pricing-switch h5 {
    font-size: 18px;
    line-height: 28px;
    color: #010f2e;
    font-weight: 500;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.pricing-switch .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 45px;
    vertical-align: middle;
    margin: 0 15px;
}

.pricing-switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.pricing-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #f8f8f8, #adb5bd);
    transition: 0.5s;
}

.pricing-switch .slider:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 47px;
    height: 47px;
    background: #ffffff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.pricing-switch .slider.round {
    border-radius: 40px;
}

.pricing-switch .slider.round:before {
    border-radius: 50%;
}

.pricing-switch input:checked+.slider {
    background: linear-gradient(to right, #ff5066, #fc9d44);
}

.pricing-switch input:checked+.slider:before {
    left: calc(100% - 44px);
}

.pricing-list {
    margin-top: 30px;
}

.pricing-box {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding: 32px 40px 40px 40px;
    transition: 0.3s;
}

.pricing-box:hover,
.pricing-box.active {
    transform: scale(1.02);
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.15);
}

.pricing-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    border: solid 3px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at bottom, #ff5066, #fc9d44);
    background-origin: border-box;
    background-clip: content-box, border-box;
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
}

.pricing-box:hover:before,
.pricing-box.active:before {
    opacity: 1;
}

.pricing-box-text {
    position: relative;
    z-index: 1;
}

/* .pricing-box-text .h3-title {} */

.pricing-box-text .price-rate {
    font-size: 15px;
    line-height: 26px;
    color: #010f2e;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    margin-bottom: 30px;
}

.pricing-box-text .price-rate span {
    font-size: 45px;
    line-height: 55px;
    color: #ff5066;
}

.pricing-box-text p {
    margin-bottom: 10px;
}

.pricing-box-text ul {
    list-style: none;
    text-align: left;
    /* display: inline-block; */
    display: block;
    margin-bottom: 26px;
}

.pricing-box-text ul li {
    position: relative;
    padding-left: 25px;
    font-size: 18px;
    line-height: 28px;
    color: #5e5e5e;
    margin-bottom: 15px;
}

.pricing-box-text ul li:last-child {
    margin-bottom: 0;
}

.pricing-box-text ul li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
}

/*==========Pricing Plan CSS End==========*/

/*==========Portfolio CSS Start==========*/

.main-portfolio {
    position: relative;
    padding-top: 115px;
}

.project-box {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 0 15px;
    transition: 0.3s;
}

.project-box.slick-active {
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.1);
}

.project-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 0;
}

.project-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff5066, #fc9d44);
    opacity: 0;
    transform: scale(0);
    transition: 0.5s;
}

.project-box:hover .project-img:before {
    transform: scale(1);
    opacity: 0.7;
}

.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.project-text .h3-title {
    color: #ffffff;
    position: relative;
    top: -30px;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 0;
    transition: 0.5s;
}

.project-box:hover .project-text .h3-title {
    pointer-events: unset;
    position: relative;
    top: 0;
    opacity: 1;
    transition-delay: 0.5s;
}

.project-text p {
    color: #fff1f0;
    position: relative;
    top: -30px;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 17px;
    transition: 0.5s;
}

.project-box:hover .project-text p {
    pointer-events: unset;
    position: relative;
    top: 0;
    opacity: 1;
    transition-delay: 0.6s;
}

.project-text a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    color: #ff5066;
    font-size: 20px;
    transform: scale(0);
    transition: 0.5s;
}

.project-box:hover .project-text a {
    transform: scale(1);
    transition-delay: 0.7s;
}

.project-slider .slick-list {
    overflow: visible;
}

/*==========Portfolio CSS End==========*/

/*==========Team Members CSS Start==========*/

.main-team {
    position: relative;
    /* padding: 83px 0 20px 0; */
    padding: 83px 0 60px 0;
    overflow: hidden;
}

.team-title {
    text-align: center;
}

.team-title .sub-title {
    margin-bottom: 11px;
}

/* .team-title .h2-title {} */

.team-box {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: 0.3s;
}

.team-box:hover {
    box-shadow: 2px 2px 60px rgba(255, 80, 102, 0.4);
}

.team-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff5066, #fc9d44);
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s;
    z-index: 0;
}

.team-box:hover:before {
    opacity: 1;
}

.team-text {
    position: relative;
    z-index: 1;
}

.team-img {
    width: 100%;
    height: 285px;
    transition: 0.3s;
}

.team-box:hover .team-img {
    width: calc(100% - 60px);
}

.team-social {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translate(0, -50%);
    width: 60px;
    opacity: 0;
    transition: 0.3s;
}

.team-box:hover .team-social {
    right: 0;
    opacity: 1;
}

.team-social-box {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 1;
    margin: 15px 0;
}

.team-social-box a {
    font-size: 16px;
    color: #ffffff;
}

.team-text-box {
    position: relative;
    padding: 24px 30px 21px 30px;
}

.team-text-box p {
    color: #fc9d44;
    text-transform: uppercase;
    margin-bottom: 2px;
    transition: 0.3s;
}

.team-text-box .h3-title {
    margin-bottom: 0;
    transition: 0.3s;
}

.team-box:hover .team-text-box p,
.team-box:hover .team-text-box .h3-title {
    color: #ffffff;
}

.team-slider .slick-list {
    overflow: visible;
}

.team-slider .slick-list .slick-slide {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.team-slider .slick-list .slick-slide.slick-active {
    opacity: 1;
    pointer-events: unset;
}

/*==========Team Members CSS End==========*/

/*==========Contact CSS Start==========*/

.main-contact-us {
    position: relative;
    padding-top: 115px;
    margin-bottom: -335px;
    z-index: 1;
}

.main-contact {
    position: relative;
    padding-top: 120px;
}

.contact-us-content {
    width: 100%;
    background: #ffffff;
    position: relative;
    /* padding: 53px 60px 40px 60px; */
    padding: 50px 50px;
    border-radius: 4px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.contact-us-content .sub-title {
    margin-bottom: 12px;
}

.contact-us-content .h4-title {
    margin-bottom: 37px;
}

.contact-form .row {
    margin-left: -10px;
    margin-right: -10px;
}

.contact-form .row .col-md-6,
.contact-form .row .col-12 {
    padding: 0 10px;
}

.contact-form .form-link {
    font-size: 14px;
    color: #ff5066;
    margin-bottom: 25px;
    float: right;
}

.contact-form .sec-btn {
    width: 100%;
}

/*==========Contact CSS End==========*/

/*==========Partners CSS Start==========*/
.main-partners {
    position: relative;
    padding: 150px 0;
    /* border-top: 1px solid #cccccc; */
}

.main-partners .sub-title {
    font-size: 35px;
}

.partners-box {
    width: 100%;
    text-align: center;
}

.partners-box img {
    width: auto;
    /* filter: grayscale(1);
    transition: 0.3s; */
}

/* .partners-box img:hover {
    filter: grayscale(0);
} */
/* 
.main-partners {
    position: relative;
    background-position: top center;
    padding: 415px 0 80px 0;
    overflow: hidden;
    z-index: 0;
}

.main-partners:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/partner-shape.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.partner-box {
    width: 100%;
    text-align: center;
}

.partner-box img {
    width: auto;
    opacity: 0.5;
    transition: 0.3s;
}

.partner-box img:hover {
    opacity: 1;
} */

/*==========Partners CSS End==========*/

/*==========Footer CSS Start==========*/

.site-footer {
    position: relative;
    /* background: #1c233d;
    padding: 120px 0 101px 0; */
}

/* .footer-logo a {
    display: inline-block;
    width: 204px;
    margin-bottom: 25px;
}

.footer-info p {
    color: #a9aebe;
    margin-bottom: 17px;
} */

.social-icon {
    font-size: 0;
    line-height: 1;
    text-align: center;
    margin-bottom: 25px;
}

.social-icon a {
    width: 41px;
    height: 41px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 14px;
    position: relative;
    transition: 0.3s;
}

.social-icon a:last-child {
    margin-right: 0;
}

.social-icon a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

.social-icon a:hover:before {
    opacity: 1;
}

/* .h3-title.footer-title {
    color: #ffffff;
    position: relative;
    padding-bottom: 2px;
    margin-bottom: 26px;
}

.h3-title.footer-title:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 70px;
    height: 1px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
} */

.footer-contact-box {
    min-height: 40px;
    margin-bottom: 12px;
}

.footer-contact-box:last-child {
    margin-bottom: 0;
}

.footer-contact-link {
    display: inline-block;
    padding-left: 51px;
    position: relative;
}

.footer-contact-link .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
}

.footer-contact-link a {
    display: block;
    color: #a9aebe;
    font-size: 15px;
    line-height: 40px;
    transition: 0.3s;
}

.footer-contact-link a:hover {
    color: #fc9d44;
}

/*.our-links,
.our-services {
    padding-left: 60px;
}

.our-links ul,
.our-services ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    line-height: 1;
    column-count: 2;
}

.our-services ul {
    column-count: unset;
}

.our-links ul li,
.our-services ul li {
    display: block;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 6px;
}

.our-links ul li:last-child,
.our-services ul li:last-child {
    margin-bottom: 0;
}

.our-links ul li a,
.our-services ul li a {
    font-size: 15px;
    line-height: 25px;
    color: #a9aebe;
    transition: 0.3s;
}

.our-links ul li a:hover,
.our-services ul li a:hover,
.our-links ul li.active a,
.our-services ul li.active a {
    color: #fc9d44;
} */

.footer-last {
    background: #10152a;
    padding: 22px 0;
}

.copy-right p {
    color: #ffffff;
    margin-bottom: 0;
}

.copy-right p a {
    color: #fc9d44;
    transition: 0.3s;
}

.copy-right p a:hover {
    color: #ff5066;
}

.footer-last-link {
    text-align: center;
}

.footer-last-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 1;
}

.footer-last-link ul li {
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    padding-left: 20px;
    position: relative;
    margin-left: 33px;
}

.footer-last-link ul li:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 8px;
    height: 8px;
    background: #fc9d44;
    border-radius: 50%;
}

.footer-last-link ul li:first-child {
    margin-left: 0;
}

.footer-last-link ul li a {
    font-size: 15px;
    color: #ffffff;
    transition: 0.3s;
}

.footer-last-link ul li a:hover {
    color: #fc9d44;
}

.footer-header {
    background: #1c233d;
    /* padding: 55px 0; */
    padding: 10px 0;
}

.footer-body {
    background: #060d26;
    padding: 55px 0;
    /* background: #ff5066;
    padding: 115px 0; */
}

/*==========Footer CSS End==========*/

/*==========Scroll To Top CSS Start==========*/

.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, #ff5066, #fc9d44, #fc9d44, #ff5066);
    background-size: 200% 100%;
    background-position: left center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 10px 30px 0px rgba(255, 80, 102, 0.4);
    transition: 0.3s;
    z-index: 50;
    display: none;
}

.scroll-top:hover {
    background-position: right center;
    color: #ffffff;
    box-shadow: 0px 10px 30px 0px rgb(93, 190, 150, 0.5);
}

.scroll-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 10px;
}

.scroll-top:hover i {
    animation: swipe 0.6s linear infinite alternate;
}

@keyframes swipe {
    from {
        margin-top: -3px;
    }

    to {
        margin-top: 3px;
    }
}

/*==========Scroll To Top CSS End==========*/

/*==========Bubbles Animation CSS Start==========*/

.bubbles_wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
    overflow: hidden;
    pointer-events: none;
}

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 20%
    }

    to {
        margin-top: -30%
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 20%
    }

    to {
        margin-top: -30%
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 20%
    }

    to {
        margin-top: -30%
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0
    }

    to {
        margin-left: 25px
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0
    }

    to {
        margin-left: 25px
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0
    }

    to {
        margin-left: 25px
    }
}

.x1 {
    -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 6%;
    top: 45%;
    background: #ff5066;
}

.x2 {
    -webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 5%;
    top: 80%;
    background: #fc9d44;
}

.x3 {
    -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 10%;
    top: 40%;
    background: #ff5066;
}

.x4 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 20%;
    top: 0;
    background: #fc9d44;
}

.x5 {
    -webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 30%;
    top: 50%;
    background: #ff5066;
}

.x6 {
    -webkit-animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 50%;
    top: 0;
    background: #fc9d44;
}

.x7 {
    -webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 65%;
    top: 70%;
    background: #ff5066;
}

.x8 {
    -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
    left: 80%;
    top: 10%;
    background: #fc9d44;
}

.x9 {
    -webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
    left: 90%;
    top: 50%;
    background: #ff5066;
}

.x10 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
    left: 80%;
    top: 80%;
    background: #fc9d44;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    box-shadow: none;
    width: 5px;
    height: 5px;
}

/*==========Bubbles Animation CSS End==========*/

/*==========About Us Page CSS Start==========*/

.main-about-us.page-about {
    position: relative;
    padding: 115px 0 113px 0;
}

.main-about-us.page-our-services {
    position: relative;
    padding-top: 120px;
}

.page-about-content ul {
    margin: 16px 0 34px 0;
    list-style: none;
}

.page-about-content ul li {
    color: #010f2e;
    position: relative;
    padding-left: 50px;
    margin-bottom: 18px;
}

.page-about-content ul li:before {
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 34px;
    height: 34px;
    background: linear-gradient(to right, #7859fc, #a756f9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'FontAwesome';
    color: #ffffff;
}

.page-about-img img {
    width: 790px;
    max-width: unset;
}

/*Story Start*/

.main-story {
    position: relative;
    padding-top: 115px;
}

.story-list {
    position: relative;
    padding: 30px 70px 0 70px;
}

.story-list:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 1px;
    height: 100%;
    background: #b7b7b7;
    z-index: 0;
}

.story-box {
    position: relative;
    width: calc(100% - 30px);
    background: #ffffff;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 32px 40px 33px 40px;
    overflow: hidden;
    margin-bottom: 30px;
}

.story-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: #fb854d;
    border-radius: 0 20px 20px 0;
}

.story-box.orange:before {
    background: #fb854d;
}

.story-box.blue:before {
    background: #5370e2;
}

.story-box.green:before {
    background: #47b5b9;
}

.story-box.purple:before {
    background: #5560b4;
}

.story-box.right {
    text-align: right;
}

.story-box.left {
    text-align: left;
    margin-left: 30px;
}

.story-box.left:before {
    right: auto;
    left: 0;
    border-radius: 20px 0 0 20px;
}

.story-box .h3-title {
    margin-bottom: 6px;
}

.story-box p {
    margin-bottom: 0;
}

.story-year {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}

.story-year:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: #fb854d;
    border-radius: 50%;
}

.story-year.orange:before {
    background: #fb854d;
}

.story-year.blue:before {
    background: #5370e2;
}

.story-year.green:before {
    background: #47b5b9;
}

.story-year.purple:before {
    background: #5560b4;
}

.story-year.left {
    padding-left: 30px;
}

.story-year.right {
    text-align: right;
    padding-left: 0;
    padding-right: 30px;
}

.story-year.left:before {
    left: -25px;
}

.story-year.right:before {
    left: auto;
    right: -25px;
}

.story-year .h4-title {
    margin-bottom: 0;
    color: #fb854d;
}

.story-year.orange .h4-title {
    color: #fb854d;
}

.story-year.blue .h4-title {
    color: #5370e2;
}

.story-year.green .h4-title {
    color: #47b5b9;
}

.story-year.purple .h4-title {
    color: #5560b4;
}

/*Story End*/

.main-contact.page-inner-contact {
    padding-bottom: 120px;
}

/*==========About Us Page CSS End==========*/

/*==========Services Page CSS Start==========*/

.main-our-services.page-our-services {
    position: relative;
    padding-top: 120px;
}

/*Experience Start*/

.main-experience {
    padding-top: 112px;
}

.experience-skill-content {
    padding-top: 77px;
}

.experience-skill-bar-box {
    position: relative;
    margin-bottom: 35px;
}

.experience-skill-bar-box:last-child {
    margin-bottom: 0;
}

.h3-title.experience-skill-bar-title {
    margin-bottom: 9px;
}

.experience-skill-bar-percent {
    position: absolute;
    top: 3px;
    right: 0;
    margin-bottom: 0;
}

.experience-skill-bar {
    width: 100%;
    height: 22px;
    border-radius: 5px;
    position: relative;
    overflow: visible;
}

.experience-skill-bar:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 8px;
    background: #ebebeb;
    border-radius: 5px;
}

.experience-skill-bar-inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 0;
    height: 22px;
    border-radius: 5px;
    overflow: visible !important;
}

.experience-skill-bar-inner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #ff5066, #fc9d44);
    box-shadow: -6px 6px 30px rgba(79, 170, 132, 0.4);
    border-radius: 5px;
}

.experience-content p:last-child {
    margin-bottom: 0;
}

/*Experience End*/

.main-contact.inner-page-contact {
    padding-bottom: 100px;
}

/*==========Services Page CSS End==========*/

/*==========Pricing Page CSS Start==========*/

.main-pricing.page-pricing {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*==========Pricing Page CSS End==========*/

/*==========Contact Page CSS Start==========*/

.main-contact-page-link {
    position: relative;
    padding-bottom: 120px;
}

.contact-link-box {
    position: relative;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 20px;
    text-align: left;
    display: flex;
    padding: 23px 30px 26px 30px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.3s;
}

.contact-link-box:last-child {
    margin-bottom: 0;
}

.contact-link-box:hover {
    border-color: transparent;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.1);
}

.contact-link-text {
    width: calc(100% - 70px);
    display: inline-block;
}

.contact-link-text .h3-title {
    margin-bottom: 8px;
}

.contact-link-text p {
    margin-bottom: 0;
}

.contact-link-icon {
    width: 70px;
    display: inline-block;
    padding-top: 7px;
    position: relative;
}

.contact-link-icon img {
    width: auto;
    position: relative;
    top: 0;
    transition: 0.3s;
}

.contact-link-box:hover .contact-link-icon img {
    top: -150px;
}

.contact-link-icon img.hover-img {
    position: absolute;
    top: 150px;
    left: 0;
    width: auto;
}

.contact-link-box:hover .contact-link-icon img.hover-img {
    top: 7px;
}

.contact-link-text p a {
    color: #777777;
    transition: 0.3s;
}

.contact-link-text p a:hover {
    color: #ff5066;
}

.contact-map,
.contact-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/*==========Contact Page CSS End==========*/

/*==========Responsive CSS Start==========*/

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1279px) {

    /* .banner-slider {
        width: 650px;
        height: 504px;
    } */
    .service-box {
        padding: 35px 15px 31px 15px;
    }

    .about-shape1 {
        width: 180px;
    }

    .about-shape2 {
        width: 250px;
    }

    .about-shape3 {
        width: 200px;
        right: -100px;
    }

    .about-shape4 {
        width: 180px;
        right: -50px;
    }

    .about-img-box {
        width: 530px;
    }

    .page-about-img img {
        width: 630px;
    }

    .story-list {
        padding: 30px 45px 0 45px;
    }

    .pricing-box {
        padding: 32px 30px 40px 30px;
    }
}

@media screen and (max-width: 1199px) {
    .site-branding a {
        width: 180px;
    }

    .main-navigation ul li {
        margin: 0 15px;
    }

    .header-search .sec-btn {
        padding: 15px 20px;
        margin-right: 15px;
    }

    .search-box {
        margin-left: 0;
    }

    .extra-menu {
        margin-left: 15px;
    }

    .h1-title {
        font-size: 60px;
        line-height: 70px;
    }

    .h2-title {
        font-size: 55px;
        line-height: 65px;
    }

    .h3-title {
        font-size: 22px;
        line-height: 32px;
    }

    .service-box {
        padding: 35px 25px 31px 25px;
    }

    .about-shape1 {
        width: 150px;
    }

    .about-shape2 {
        width: 200px;
    }

    .about-shape3 {
        width: 170px;
        right: -130px;
    }

    .about-shape4 {
        width: 150px;
        right: -120px;
    }

    .main-about-img {
        padding-top: 30px;
        padding-right: 30px;
    }

    .main-about-img:before {
        width: 140px;
        height: 140px;
    }

    .story-list {
        padding: 30px 0 0 0;
    }

    /* .counter-box {
        padding: 0 10px;
    } */
    .our-links,
    .our-services {
        padding-left: 30px;
    }

    .free-consultation .h3-title {
        font-size: 20px;
        line-height: 30px;
    }

    .pricing-box {
        padding: 32px 15px 40px 15px;
    }

    .pricing-box-text ul li {
        padding-left: 18px;
    }

    .contact-link-icon {
        width: 60px;
    }

    .contact-link-text {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 991px) {

    .for-des,
    .header-search,
    .testimonial-animate {
        display: none !important;
    }

    .for-mob {
        display: inline-block !important;
    }

    .site-header,
    .site-header.sticky-header,
    .home .site-header {
        background: #ffffff;
        height: 70px;
        padding: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .site-header .container {
        max-width: 100%;
        padding: 0 30px;
    }

    .toggle-button {
        display: block;
    }

    .site-branding {
        position: fixed;
        top: 0;
        left: 30px;
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .site-branding a {
        width: 100%;
    }

    .main-navigation ul {
        position: fixed;
        top: 0;
        right: -400px;
        width: 320px;
        height: 100vh;
        max-height: 100vh;
        overflow: auto;
        background: #ffffff;
        text-align: center;
        padding: 100px 0 30px;
        box-shadow: -30px 0 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        opacity: 0;
        z-index: 100;
    }

    .main-navigation.toggle-menu ul {
        right: 0;
        opacity: 1;
        z-index: 100;
    }

    .main-navigation>ul::-webkit-scrollbar-thumb {
        width: 0;
        background: transparent;
    }

    .main-navigation>ul::-webkit-scrollbar {
        width: 0;
    }

    .main-navigation>ul::-webkit-scrollbar-track {
        width: 0;
        background: transparent;
    }

    .main-navigation ul li {
        display: block;
        margin: -50px 0 10px 0;
        padding: 0 30px;
        padding-bottom: 10px;
        opacity: 0;
        transition: 0.5s;
    }

    .main-navigation.toggle-menu ul li {
        margin-top: 0;
        opacity: 1;
        transition: 0.5s;
        transition-delay: 0.4s;
    }

    .main-navigation ul li:last-child {
        border-bottom: none;
    }

    .main-navigation ul li:last-child a {
        display: inline-block;
        margin: 0 auto;
    }

    .main-navigation ul li a {
        font-size: 18px;
        line-height: 28px;
    }

    .main-navigation ul li ul.sub-menu,
    .main-navigation ul li:hover ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        display: block;
        animation: none;
        padding: 0;
        margin-top: 10px;
        transition: 0s;
        display: none;
    }

    .main-navigation ul li ul.sub-menu li {
        text-align: center;
        border: none;
        padding: 0;
        margin-bottom: 10px;
    }

    .main-navigation ul li ul.sub-menu li:last-child {
        margin-bottom: 0;
    }

    .main-navigation ul li ul.sub-menu li a {
        padding: 0;
        font-size: 15px;
        line-height: 24px;
    }

    .main-navigation ul li.sub-items:hover>a:before,
    .main-navigation ul li a:hover:before {
        transform: translate(0, -50%) rotate(0deg);
    }

    .main-navigation ul li.sub-items.active-sub-menu>a:before {
        transform: translate(0, -50%) rotate(-180deg);
    }

    .main-services {
        padding-top: 75px;
    }

    .about-shape3 {
        right: -50px;
    }

    .about-shape4 {
        bottom: 130px;
        right: -50px;
    }

    .main-about-us {
        padding-top: 80px;
    }

    .main-about-img {
        padding-top: 0;
        padding-right: 0;
    }

    .main-about-img:before {
        display: none;
    }

    .about-img-box {
        width: 100%;
        height: 450px;
        float: none;
    }

    .about-content,
    .page-about-content,
    .contact-form {
        padding-top: 40px;
    }

    .page-about-img img {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .main-about-us.page-about {
        padding: 75px 0 73px 0;
    }

    /* .main-counter {
        margin-top: -200px;
        padding-top: 269px;
    } */
    .counter-box {
        margin-bottom: 30px;
    }

    .main-counter-list {
        margin-bottom: -30px;
    }

    .main-testimonial {
        padding-top: 193px;
    }

    .main-pricing,
    .main-portfolio,
    .main-team,
    .main-contact,
    .main-contact-us {
        padding-top: 75px;
    }

    .contact-us-content {
        padding: 53px 40px 40px 40px;
    }

    .partner-box {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    /* .main-partners {
        padding: 415px 0 50px 0;
    } */

    .pricing-slider .slick-list {
        overflow: visible;
    }

    .pricing-slider .slick-list .slick-slide {
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .pricing-slider .slick-list .slick-slide.slick-active {
        opacity: 1;
        pointer-events: unset;
        transition: 0.3s;
    }

    .pricing-box.active {
        transform: scale(1);
        box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.08);
    }

    .pricing-box.active:before {
        opacity: 0;
    }

    .pricing-box.active .pricing-box-text .sec-btn {
        color: #ff5066;
    }

    .pricing-box.active .pricing-box-text .sec-btn:after {
        opacity: 1;
        pointer-events: unset;
    }

    .pricing-box {
        padding: 32px 30px 40px 30px;
    }

    .pricing-list {
        padding-bottom: 50px;
    }

    /* .site-footer {
        padding: 212px 0 80px 0;
        padding: 80px 0;
    } */
    .footer-info,
    .footer-contact {
        margin-bottom: 40px;
    }

    .social-icon {
        margin-top: 30px;
    }

    .our-links,
    .our-services {
        padding-left: 0;
    }

    .free-consultation {
        padding-top: 40px;
    }

    .copy-right {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-last {
        padding: 30px 0;
    }

    .footer-last-link {
        text-align: center;
    }

    .footer-last-link ul li {
        padding-left: 15px;
        margin-left: 20px;
    }

    .main-banner.inner-banner {
        padding: 159px 0 76px 0;
    }

    .main-our-services.page-our-services,
    .main-pricing.page-pricing {
        padding-top: 80px;
    }

    .main-contact.inner-page-contact {
        padding-bottom: 60px;
    }

    .main-contact-page-link {
        padding-bottom: 80px;
    }

    .contact-map {
        height: 450px;
        margin-top: 80px;
    }

    .main-banner .banner-slider-content {
        width: 100%;
        padding: 0 5px;
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .site-branding {
        width: 180px;
    }

    /* .banner-content {
        padding: 150px 0 60px 0;
    } */
    .sub-title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 5px;
    }

    .h1-title {
        font-size: 50px;
        line-height: 60px;
    }

    .h2-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 22px;
    }

    .center-title {
        margin-bottom: 30px;
    }

    /* .banner-mail-box input {
        height: 60px;
        text-align: center;
        padding: 10px;
    }

    .banner-mail-box .sec-btn {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 30px;
        background: #ffffff;
        color: #ff5066;
    }

    .banner-mail-box .sec-btn:hover {
        color: #ffffff;
    }

    .banner-mail-box .sec-btn:before {
        background: #010f2e;
    } */
    .main-services,
    .main-pricing,
    .main-portfolio,
    .main-team,
    .main-contact,
    .main-contact-us {
        padding-top: 55px;
    }

    .contact-us-content {
        padding: 33px 30px 20px 30px;
    }

    /* .main-partners {
        padding: 395px 0 30px 0;
    } */

    .service-box {
        padding: 35px 30px 31px 30px;
        width: 300px;
        max-width: 100%;
        display: block;
        margin: 0 auto 30px auto;
    }

    .main-about-us {
        padding-top: 60px;
    }

    .about-img-box {
        height: 320px;
    }

    .main-about-us.page-about {
        padding: 55px 0 53px 0;
    }

    .main-story {
        padding-top: 55px;
    }

    .story-list {
        padding-top: 0;
        margin-bottom: -30px;
    }

    .story-list:before,
    .story-year:before {
        display: none;
    }

    .story-box {
        width: 100%;
    }

    .story-box.right {
        text-align: left;
    }

    .story-box.left {
        margin-left: 0;
    }

    .story-box:before {
        width: 8px;
        right: auto;
        left: 0;
        border-radius: 20px 0 0 20px;
    }

    .story-year {
        margin-bottom: 10px;
    }

    .story-year.left {
        padding-left: 0;
    }

    .story-year.right {
        padding-top: 0;
        text-align: left;
    }

    .main-counter {
        padding: 60px 0;
    }

    .main-testimonial {
        padding-top: 138px;
    }

    .pricing-switch .switch {
        width: 70px;
        height: 30px;
    }

    .pricing-switch .slider:before {
        width: 32px;
        height: 32px;
    }

    .pricing-switch input:checked+.slider:before {
        left: calc(100% - 32px);
    }

    .pricing-box {
        padding: 32px 20px 40px 20px;
    }

    .team-box {
        width: 300px;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .contact-link p {
        margin-bottom: 10px;
    }

    .contact-link a {
        font-size: 40px;
        line-height: 50px;
    }

    /* .site-footer {
        padding: 192px 0 60px 0;
        padding: 60px 0;
    } */
    .our-links {
        margin-bottom: 40px;
    }

    .main-banner.inner-banner {
        padding: 139px 0 56px 0;
    }

    .main-banner.inner-banner .banner-content .h1-title {
        margin-bottom: 17px;
    }

    .main-our-services.page-our-services,
    .main-pricing.page-pricing {
        padding-top: 60px;
    }

    .main-experience {
        padding-top: 55px;
    }

    .main-contact.inner-page-contact {
        padding-bottom: 40px;
    }

    .main-contact-page-link {
        padding-bottom: 60px;
    }

    .contact-map {
        height: 320px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 575px) {
    .loader-design {
        transform: translate(-50%, -50%) scale(0.6);
    }

    .container {
        padding: 0 30px;
    }

    .about-shape1 {
        width: 100px;
        top: 130px;
    }

    .about-shape2 {
        width: 150px;
        bottom: 30px;
        left: -20px;
    }

    .about-shape3 {
        right: -30px;
        width: 120px;
    }

    .about-shape4 {
        bottom: 70px;
        right: -20px;
        width: 100px;
    }

    /* .banner-call a {
        padding-left: 50px;
        font-size: 16px;
        line-height: 26px;
    }

    .banner-call a .icon {
        width: 35px;
    }

    .banner-call a span {
        font-size: 22px;
        line-height: 22px;
    } */
    .h1-title {
        font-size: 46px;
        line-height: 56px;
    }

    .h2-title {
        font-size: 36px;
        line-height: 46px;
    }

    .h3-title {
        font-size: 22px;
        line-height: 32px;
    }

    .h4-title {
        font-size: 35px;
        line-height: 45px;
    }

    .pricing-box-text {
        width: 270px;
        max-width: 100%;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .h1-title {
        font-size: 42px;
    }

    .main-testimonial {
        padding-top: 98px;
    }

    .contact-link a {
        font-size: 30px;
        line-height: 40px;
    }

    .contact-link-box {
        padding: 23px 20px 26px 20px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }

    .site-branding {
        width: 150px;
        left: 15px;
    }

    .main-navigation ul {
        right: -300px;
        width: 280px;
    }

    .sub-title,
    /* .banner-content p, */
    .testimonial-text p {
        font-size: 16px;
        line-height: 26px;
    }

    .h1-title {
        font-size: 39px;
        line-height: 52px;
    }

    .h2-title {
        font-size: 30px;
        line-height: 40px;
    }

    .h3-title {
        font-size: 20px;
        line-height: 30px;
    }

    .about-img-box {
        height: 280px;
    }

    .project-box {
        height: 250px;
    }

    .contact-link a,
    .get-started-text .h4-title {
        font-size: 28px;
        line-height: 38px;
    }

    .scroll-top {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .form-input {
        padding: 12px 20px;
    }

    textarea.form-input {
        padding: 18px 20px;
    }

    .contact-link-icon {
        width: 40px;
    }

    .contact-link-text {
        width: calc(100% - 40px);
        padding-left: 15px;
    }

    .contact-link-box {
        padding: 23px 20px 26px 20px;
    }
}

/*==========Responsive CSS End==========*/

.dzSubscribeMsg {
    text-align: left;
    margin-top: 15px;
}

/* New CSS */

/* TRAI Rules */

/* TRAI Rules End */

.main-trai-rules {
    position: relative;
    padding-top: 120px;
}

.main-trai-rules .nav-tabs {
    border-bottom: none;
}

.main-trai-rules .nav-tabs .nav-item {
    padding-left: 15px;
    margin-bottom: 10px;
}

.main-trai-rules .nav-tabs .nav-item .nav-link {
    color: #fff;
    -webkit-box-shadow: 0 20px 30px 0 rgb(67 37 204 / 20%);
    box-shadow: 0 20px 30px 0 rgb(67 37 204 / 20%);
    background: linear-gradient(to right, #ff5066, #fc9d44);
    border: none;
    border-radius: 30px;
    font-size: 14px;
}

.main-trai-rules .tab-content ul {
    margin: 16px 0 34px 0;
    list-style: none;
}

.main-trai-rules .tab-content ul li {
    color: #010f2e;
    position: relative;
    padding-left: 50px;
    margin-bottom: 18px;
}

.main-trai-rules .tab-content ul li::before {
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 34px;
    height: 34px;
    background: linear-gradient(to right, #7859fc, #a756f9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'FontAwesome';
    color: #ffffff;
}

/* TRAI Rules End */

/* Credential */

.main-register,
.main-login,
.main-forgot-password {
    position: relative;
    overflow: hidden;
    padding: 115px 0;
}

.form-content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.form-image {
    width: 58.33%;
    margin-bottom: 0;
}

.form-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-form {
    width: 41.67%;
    background: #111;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-form form {
    padding: 72px 70px 70px 70px;
}

.main-login .form-link {
    font-size: 14px;
    color: #ff5066;
    margin-bottom: 25px;
    float: right;
}

.main-login .form-link:hover {
    color: #ff5066;
}

.text-underline {
    text-decoration: underline;
}

@media screen and (max-width: 991px) {

    .main-register,
    .main-login,
    .main-forgot-password {
        padding: 50px 0 50px 0;
    }
}

@media screen and (max-width: 1200px) {
    .form-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .form-image {
        order: 2;
        text-align: center;
    }

    .form-image,
    .main-form {
        width: 100%;
    }

    .form-img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 100%;
    }

    .main-form {
        order: 1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media screen and (max-width: 480px) {
    .main-form form {
        padding: 72px 40px 70px 40px;
    }
}

/* Credential End */

/* Service Features Start */

.main-service-features {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-service-features .card {
    background: linear-gradient(60deg, #ff5066 0%, #fc9d44 100%);
    color: #fff;
    border: 0;
    top: 0;
    box-shadow: 1px 1px 60px rgb(0 0 0 / 8%);
    transition: 0.3s;
}

.main-service-features .card:hover {
    position: relative;
    top: -10px;
    box-shadow: 1px 10px 60px rgb(0 0 0 / 10%);
}

.main-service-features .card .card-body h4 i {
    color: #fff;
}

.main-service-features .card .card-body p {
    font-weight: bold;
    color: #fff;
}

/* Service Features End */

/* Modal */
.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

#ErrorForm .modal-confirm .icon-box,
#ErrorForm .modal-confirm .btn,
#ErrorForm .modal-confirm .btn:hover,
#ErrorForm .modal-confirm .btn:focus {
    background: #ff0000;
}

/* Modal End */
/* New CSS End  */